<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />


  <title>Pawsitive Vet User Account</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />


  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area ">
    <div class="hero_bg_box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/userAccount">
            <span>
              Pawsitive Vet
            </span>
          </a>
          <div class="" id="">
            <div class="User_option">
              
            </div>
            

      
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="detail-box">
              <h1>
              USER ACCOUNT<br>
                
              </h1>
          
              <div class="btn-box">
                <a href="/loginUser/logout">
                  Logout
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  

    <!-- service section -->

    <section class="service_section layout_padding">
      <div class="container py_mobile_45">
        <div class="heading_container heading_center">
          <h2> Our Services </h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Pet Checkup
                </h5>
               
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Vaccination
                </h5>
               
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Neutering
                </h5>
              
              </div>
            </div>
          </div>
          
      
          </div>
        </div>
       

        <div class="btn-box">
          <a href="/userApp">
            Manage Appointment
          </a>
        </div>
      </div>
      
    </section>

    <!-- end service section -->

    <!-- about section -->

    <section class="about_section ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/about-img.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                 Pet Information
                </h2>
              </div>
             
              <a href="/userPet">
               Manage Pet
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->
<br><br><br>
   
    <!-- client section -->
    <section class="client_section">
      <div class="container">
        <div class="heading_container">
          <h2>
            Our Specialist Members
          </h2>
        </div>
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="images/team1.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Dr Ibrahim Ismail <br>
                    <span>
                      Head Veterinary
                    </span>
                  </h5>
              
                </div>
              </div>
            </div>
            
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="images/team3.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Dr Maria Abdullah <br>
                    <span>
                      Head Vice Veterinary
                    </span>
                  </h5>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    



 


  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <p>
      &copy; <span id="displayDate"></span> All Rights Reserved. 
      <a href="/">Pawsitive Vet&copy;</a>
    </p>
  </footer>
  <!-- end  footer section -->

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <!-- End Google Map -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>

</body>

</html>